################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs
/API/obj
/API/bin
/API/Migrations
/Tests.API
/vue-ui/.vscode
